<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сервис для книголюбов и авторов">
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{https://cdn.tailwindcss.com}"></script>
    <script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/swiper.js}"></script>
    <script th:src="@{/js/pageLoadTime.js}"></script>
    <script th:src="@{/js/navigation.js}"></script>
    <title>Главная страница</title>
</head>
<body class="bg-gray-100">

    <header class="bg-green-600 text-black p-5 text-center">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" width="200" class="mx-auto mb-3">
        </a>

        <div class="absolute top-5 right-5">
            <div sec:authorize="isAuthenticated()" class="group relative">
                <button class="flex items-center space-x-2 bg-white pl-3 pr-2 py-2 rounded-lg shadow-md relative z-50">
                    <img th:src="${profile.get('picture')}"
                         alt="Profile"
                         class="w-8 h-8 rounded-full">
                    <span class="text-black text-sm" th:text="${profile.get('name')}"></span>
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>

                <div class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2 opacity-0 pointer-events-none
                       group-hover:opacity-100 group-hover:pointer-events-auto transition-opacity duration-200 z-50
                       before:content-[''] before:absolute before:-top-2 before:left-0 before:w-full before:h-2">
                    <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 text-left">
                        <i class="fas fa-user mr-2"></i>Профиль
                    </a>

                    <form th:action="@{/logout}" method="post">
                        <button type="submit"
                                class="w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50 hover:text-red-800 transition-colors">
                            <i class="fas fa-power-off mr-2 text-red-600"></i>Выйти
                        </button>
                    </form>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/oauth2/authorization/okta}"
                   class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg shadow-md text-sm
               flex items-center transition-colors">
                    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"/>
                    </svg>
                    Войти
                </a>
            </div>
        </div>


        <form class="mb-4">
            <input type="text" placeholder="Напиши сюда что ты ищешь!" class="border rounded-lg px-4 py-2 w-full sm:w-80 shadow-md">
            <button type="submit" class="bg-white rounded-lg px-4 py-2 ml-3 shadow-md transition duration-300 hover:bg-gray-200">Тык</button>
        </form>

        <nav>
            <ul id="menu" class="flex flex-wrap space-x-2 justify-center">
                <li><a th:href="@{/profile}" class="menu-item bg-white rounded-full px-3 py-2 hover:bg-gray-200 text-black">Профиль</a></li>
                <li><a th:href="@{/whatToRead}" class="menu-item bg-white rounded-full px-3 py-2 hover:bg-gray-200 text-black">Что почитать?</a></li>
                <li><a th:href="@{/authors}" class="menu-item bg-white rounded-full px-3 py-2 hover:bg-gray-200 text-black">Авторы</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdjFBl4JoRrP2MZbj9xX0wz0JH4YJ3CayQxJilq1GJf3hLvAQ/viewform?usp=dialog" class="menu-item bg-white rounded-full px-3 py-2 hover:bg-gray-200 text-black">Стать автором</a></li>
            </ul>
        </nav>

    </header>

    <main class="flex flex-col items-center m-5 bg-white p-5 rounded-lg shadow-md">
        <div class="content w-full">

            <!-- Секция общих новостей -->
            <section class="mb-5">
                <h2 class="text-2xl font-semibold mb-3 text-left">Новости</h2>
                <div class="swiper-container-news overflow-hidden relative">
                    <div class="swiper-wrapper">
                        <!-- Динамические слайды -->
                        <div th:each="news : ${generalNews}"
                             class="swiper-slide">
                            <div class="flex-shrink-0 w-full md:w-2/5 lg:w-1/4 flex flex-col items-center p-4 border border-gray-200 bg-white bg-opacity-70 rounded-lg shadow-md min-h-[350px]">
                                <img th:src="@{/api/photos(key=${news.photoUrl})}"
                                     alt="News image"
                                     class="rounded mb-2 max-w-full swiper-image">
                                <div class="text-center">
                                    <p class="font-semibold text-lg" th:text="${news.headline}"></p>
                                    <p class="text-md" th:text="${news.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination-news mb-4"></div>
                </div>
            </section>

            <!-- Секция книжных новинок -->
            <section>
                <h2 class="text-2xl font-semibold mb-3">Новинки книг</h2>
                <div class="swiper-container-books">
                    <div class="swiper-wrapper">
                        <!-- Динамические слайды -->
                        <div th:each="bookNews : ${bookNews}"
                             class="swiper-slide bg-white p-4 rounded-lg shadow-md flex flex-col items-center relative min-h-[400px]">
                            <img th:src="@{/api/photos(key=${bookNews.photoUrl})}"
                                 alt="Book cover"
                                 class="rounded mb-2 w-48">
                            <div class="text-center">
                                <p class="font-semibold text-lg" th:text="${bookNews.headline}"></p>
                                <p class="text-md" th:text="${bookNews.description}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination-books mb-4"></div>
                </div>
            </section>
        </div>
    </main>

<aside class="bg-blue-100 p-4 rounded-lg shadow-md w-full text-center mt-5">
    <p>По словам <cite>Карлоса Руис Сафона</cite>: <q>Книги — это корабли, которые нас переносят из одного города в другой, и из одной жизни в другую.</q></p>
</aside>

<footer class="bg-green-600 text-black text-center p-5">
    <p>Наши контакты:</p>
    <p>Тг: <a href="https://t.me/Deniill" class="underline text-black">Аленин Даниил</a></p>
    <p id="loadTime"></p>
</footer>

</body>
</html>
